@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.lato {
  font-family: "Lato", sans-serif;
}

.footer-bg {
  background-color: rgba(19, 19, 19, 1);
}
.txt-color {
  color: rgba(255, 255, 255, 0.9);
}
.txt-color2 {
  color: rgba(19, 19, 19, 0.7);
}
.btn-bg {
  background-color: rgba(14, 122, 129, 1);
}
.txt-btn {
  color: rgba(14, 122, 129, 1);
}
